/*Normal Setting*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all 0.2s linear;
  }
  html {
    scroll-behavior: smooth;
  }
  *::selection {
    background: #0D2C54;
    color: #D00000;
  }
  body {
    background: inherit;
    font-family: "Poppins", sans-serif;
    position: relative
  }
  html {
    font-size: 62.5%;
    overflow-x: hidden;
  }
  html::-webkit-scrollbar {
    width: 0.8rem;
  }
  html::-webkit-scrollbar-track {
    background: #0D2C54;
  }
  html::-webkit-scrollbar-thumb {
    background: #E5E4E2;
  }

  /*Header Start*/

  .clock{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .clock span {
   
   
    color:#D00000;
    font-size:1rem;
    font-weight: bolder;

  }
  .clock #ampm {
   color: #136F63;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.7rem 10%;
    height: 5rem;
    background-color: #E5E4E2;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
  }
  section {
    min-height: 100vh;
    padding: 2rem;
  }
  .heading {
    font-size: 3.5rem;
    color: rgb(32, 32, 32);
    font-weight: bold;
    text-align: center;
  }
  .heading span {
    color: rgb(115, 3, 167);
  }

  header .myid{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header #name{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header .myname {
    font-size: 2.5rem;
    font-weight: 800;
    text-decoration: none;
    color: #0D2C54;
    animation:rubberBand 2.25s  ;
    transform-origin: center;
  }

  @keyframes rubberBand {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
  
  .rubberBand {
    animation-name: rubberBand;
  }
  
  header .myname span{
    color: #D00000;
  }
    header .name-logo{
    width: 2.5rem;
    height: 2.5rem; 
    margin-top: 2px;
  }


  

  header h1 {
    font-family: monospace;
    font-size: 3rem;
    color: #DFF6FF;
 
    text-align: center;
    position: relative;
    
   
  }
  
  header h1::before,
  header h1::after {
    content: "";
    position: absolute;
    inset: 0;
  }
  
  header h1::before {
    background: #E5E4E2;
    animation: typewriter 4s steps(13) forwards 1s infinite;
  }
  
  header h1::after {
    width: 2px;
    background: #D00000;
    animation: blink 600ms steps(13) forwards infinite,
      typewriter 4s steps(13) forwards 1s infinite;
  }
  
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
  @keyframes blink {
    to {
      background: transparent;
    }
  }

  header h1 {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 1rem;
    font-weight: 600;
    color: #0D2C54;
  }
  
  header .navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .navbar li {
    margin-left: 2.5rem;
  }
  header .navbar ul li a {
    font-size: 1.1rem;
    color: #0D2C54;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.04rem;
    transition: 0.6s;
    word-wrap: none;
  }
  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    color: #D00000;
    
    padding: 0.5rem;
    font-size: 1.1rem;
    
  }

/* hamburger icon starts*/
#menu {
  font-size: 2rem;
  cursor: pointer;
  color: #0D2C54;
  display: none;
  border:2px;
  border-radius: 2px;
}

@media (max-width: 1300px) {
  .clock{
    display: none;
  }

    header .typewriter {
      font-size: 1rem;
    }
  }


@media (max-width: 900px) {
  
  .clock{
    display: none;
  }
    header h1{
      font-size: 1rem;
    }

    header .navbar ul li a {
      font-size: 0.8rem;
      color: #0D2C54;
      font-weight: 600;
      text-decoration: none;
      letter-spacing: 0.04rem;
      transition: 0.6s;
    }
}

@media (max-width: 900px) {
  #menu {
    display: block;
  }
  header .navbar {
    position: fixed;
    top: 5rem;
    right: -120%;
    width: 80%;
    height: 80%;
    text-align: left;
    align-items: flex-start;
    background-color:#F5F5F5;
  
    border-radius: 0px 0px 0px 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  header .navbar ul {
    flex-flow: column;
    padding: 1rem;
  }
  header .navbar ul li {
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    width: 26rem;
  }
  header .navbar ul li a {
    display: block;
    padding: 1rem;
    text-align: left;
    color: #0D2C54;
    font-size: 1.5rem;
  }
  header .navbar ul li a.active,
  header .navbar ul li a:hover {
    padding: 1rem;
    color: #D00000;
    border-radius: 0.5rem;
    font-size: 1.6rem;
    border-bottom: 0.5rem solid #0D2C54;
  }
  .fa-times {
    transform: rotate(180deg);
    border:2px;
  border-radius: 2px;
    color: #D00000;
  }
  header .navbar.nav-toggle {
    right: 0;
  }
}

@media (max-width: 500px) {
  header .myname{
    font-size: 1.7rem;
  }
  header h1{
    font-size: 1rem;
  }
  header .name-logo{
    width: 1.5rem;
    height: 1.5rem; 
    margin-top: 2px;
  }

}



/* hamburger icon ends */

 /*Header End*/

/*Home Section Start*/

  .home {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
   padding: 5rem;
  margin: 0rem;
    background: #FEFEFA;
  }
  .home #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    width: 90%;
  }
  .home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;

    width: 0%;
  }
  .home .content {
    flex: 1 1 40rem;
    padding-top: 1rem;
    z-index: 1;
    padding-left: 10rem;

  }
  .home .image {
    flex: 1 1 40rem;
    z-index: 1;
   
  }
  .home .image img {
    width: 70%;
    margin-left: 0rem;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background-color: #E5E4E2;
    filter: drop-shadow(2px 2px 10px);
  }
  .home .image img:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .home .content h2 {
    font-size: 3.5rem;
    font-weight: 800;
    color: #0D2C54;
    flex-wrap: nowrap;
  }
  .home .content h2 span {
    font-size: 3.5rem;
    font-weight: 800;
    color: #D00000;
    flex-wrap: nowrap;
  }
  .home .content p {
    font-size: 2.5rem;
    color: #0D2C54;
    font-weight: 600;
    padding: 1rem 0;
  }
  .home .content p span {
    font-size: 2rem;
    color: #136F63;
    font-weight: 600;
    padding: 1rem 0;
  }
  .home .btn {
 
    margin-top: 1rem;
    position: absolute;
    line-height: 0;
    padding: 1.6rem 3rem;
    border-radius: 4em;
    transition: 0.5s;
    color: #E5E4E2;
    background: #0D2C54;
    box-shadow: 0px 0px 18px #0D2C54;
    font-family: "Nunito", sans-serif;
  }
  .home .btn span {
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }
  .home .btn i {
    margin-left: 0.3rem;
    font-size: 1.5rem;
    transition: 0.3s;
  }
  .home .btn:hover {
    background: #E5E4E2;
    color: #0D2C54;
    box-shadow: none;
    border: 2px solid #0D2C54;
  }
  .home .btn:hover i {
    transform: translateX(10px);
    font-size: 1.7rem;
  }

  /* social icons start */
  .socials {
    position: relative;
    margin-top: 9rem;
  }
  .socials .social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .socials .social-icons li {
    display: inline-block;
    margin-bottom: 14px;
  }
  .social-icons a {
    font-size: 1.7rem;
    display: inline-block;
    line-height: 44px;
    color: #0D2C54;
    background-color: #E5E4E2;
    width: 4.2rem;
    height: 4.2rem;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    box-shadow: 0px 0px 4px #0D2C54;
  }
  .social-icons a:active,
  .social-icons a:focus,
  .social-icons a:hover {
    color: #E5E4E2;
    background-color: #0685da;
  }
  .social-icons a.github:hover {
    background-color: #0D2C54;
  }
  .social-icons a.linkedin:hover {
    background-color: #0D2C54;
  }
  .social-icons a.instagram:hover {
    background-color: #0D2C54;
  }

  
  @media (max-width: 500px) {
    

    html, body {
      overflow-x: hidden;
    }
    body {
      position: relative
    }
    
    .home{
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin-top: 5rem;
      
    }
    .home #particles-js{
      display: none;
     }
     .home .content {
      flex: 1 1 30rem;
      padding-top: 0rem;
      z-index: 1;
      padding-left: 0rem;
   
    }
    .home .btn {
      margin: 4rem 0;
    }
    .socials {
      margin-top: 12rem;
    }
   .home .image{
    flex: 1 1 30rem;
    z-index: 1;
   }
    .home .content h2 {
      font-size: 2.5rem;
    }
    .home .content h2 span {
      font-size: 2.5rem;
    }
    .home .content p {
      font-size: 1.1rem;
    }
    .home .content p span {
      font-size: 1.1rem;
    }
  
    .home .btn span {
      
      font-size: 1rem;
     
    }
    .home .btn i {
  
      font-size: 1rem;
      transition: 0.3s;
    }
    .social-icons a {
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 5rem;
      color: #0D2C54;
   
      width: 3rem;
      height: 3rem;
      margin-top: 0rem;
      
    }
    .home .image img {
      width: 25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
      cursor: pointer;
     
      filter: drop-shadow(2px 2px 10px);
    }
  }

/*Home Section End*/

/* About me Section Start*/

  .about {
    background: #E5E4E2;
    position: relative; 
    min-height: 93vh;
    align-items: center;
  }

  .about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .about .content {
    flex: 1 1 40rem;
    padding-top: 1rem;
    z-index: 1;
  }
  .about .heading {
    font-size: 4rem;
    padding: 4rem;
    color: #0D2C54;
  }

  .about .heading span{
    color: #D00000;
  }
  .about .row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 4rem;
  }
  .about .row .image {
    text-align: center;
    flex: 1 1 35rem;
  }
  .about .row .image img {
    margin: 4rem;
    width: 40rem;
    height: auto;
    background-color: #E5E4E2;
    border-radius: 5%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    mix-blend-mode:luminosity;
    transition: 0.3s;
    cursor: pointer;
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.6));
  }
  .about .row .image img:hover {
    mix-blend-mode: normal;
  }
  .floating { 
    animation-name: floating;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 0px;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 20px); }
    100%   { transform: translate(0, -0px); }   
}

  .about .row .content {
    flex: 1 1 45rem;
    padding: 3rem;
  }
  .about .row .content h3 {
    color: #032B43;
    font-size: 2rem;
  }
  .about .row .content .tag {
    font-size: 1.4rem;
    color:  #032B43;
    font-weight: 600;
    margin-top: 1rem;
  }
  .about .row .content p {
    font-size: 1.8rem;
    margin-top: 1.5rem;
    font-family: "Nunito";
    font-weight: bold;
    text-transform: none;
    text-align: justify;
    line-height: 2.8rem;
  }


  .about .row .content .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    font-family: "Nunito";
    font-weight: 600;
  }
  .about .row .content .box-container .box p {
    text-transform: none;
  }
  .about .row .content .box-container .box p span {
    color: #D00000;
  }
  .resumebtn {
    margin-top: 6rem;
  }
  .resumebtn .btn {
    position: relative;
  padding: 15px 30px;
  margin: 10px;
  background: #020133;
  color: #E5E4E2;
  text-decoration: none;
  letter-spacing: 1px;
  border: 1px solid #000;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 50px;
  }
  .resumebtn .btn span {
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }
  .resumebtn .btn i {
    margin-left: 0.3rem;
    font-size: 1.2rem;
    transition: 0.3s;
  }
  .resumebtn .btn:hover {
    background: #E5E4E2;
    border: 1px solid #032B43;
    color: #032B43;
    box-shadow: 0px 0px 5px #032B43;
  }
  
  .resumebtn .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #E5E4E2, transparent);
    transition: 0.5s;
  }
  .resumebtn .btn:hover::before {
    left: 100%;
  }
  .resumebtn .btn:hover i {
    transform: translateX(5px);


  }

  @media (max-width: 500px) {
    .about{
 
  
        background: #E5E4E2;
        position: relative; 
        min-height: 100vh;
        align-items: center;
    
    }
    .about .content {
      flex: 1 1 1rem;
      padding-top: 1rem;
      z-index: 1;
    }

    .about .row .content {
      flex: 1 1 45rem;
      padding: 0rem;
    }
    .about .heading {
      font-size: 3rem;
      padding: 3rem;
      color: #0D2C54;
    }
  
    .about .heading span{
      color: #D00000;
    }

    .about .row .image {
      text-align: center;
      flex: 1 1 1rem;
    }
    .about .row .image img {
      margin: 4rem;
      width: 25rem;
      height: auto;
      padding-top: 0rem;
      margin-top: 0rem;
      background-color: #E5E4E2;
      margin-left: 0rem;  
    }
    .about .row .content h3 {
      color: #032B43;
      font-size: 1.8rem;
    }
    .about .row .content .tag {
      font-size: 1.5rem;
      color:  #032B43;
      font-weight: 600;
      margin-top: 1rem;
    }
    .about .row .content p {
      font-size: 1.1rem;
      line-height: 2.5rem;
    }
 
  }


/* About me Section End*/


/*Education Section Start*/

  .education {
    gap: 1.5rem;
    min-height:100vh;
    background: #FEFEFA;
  } 
  .education .heading {
    font-size: 4rem;
    padding: 6rem;
    color: #0D2C54;
  }
  .education .heading span {
      color: #D00000;
  }
  .education .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 5px;
  }
  .education .timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-image:linear-gradient(#0D2C54,#D00000);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -2;
    border-radius: 5px;
  }
  .education .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  /*circles on timeline*/
  .education .container::after {
    content: "\f19d";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #F5F5F5;
    border: 4px solid #D00000;
    top: 15px;
    border-radius: 50%;
    z-index: 100;
    font-size: 1.89rem;
    text-align: center;
    font-weight: 600;
    color: #02094b;
    font-family: "Font Awesome\ 5 Free";
  }
  .education .left {
    left: 0;
  }
  .education .right {
    left: 50%;
  }
  /* arrows pointing right */
  .education .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #0D2C54;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #0D2C54;
  }
  /* arrows pointing left  */
  .education .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #D00000;
    border-width: 10px 10px 10px 0;
    border-color: transparent #D00000 transparent transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .education .right::after {
    left: -16px;
  }
  .education .right .content {
    background-color: #E5E4E2;
    position: relative;
    border-radius: 6px;
    box-shadow: 0px 0px 5px #0D2C54;
   
   
  }

  .education .right:hover .content {
    
    background-color: #fff3f7;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #D00000;
   
  }
  .education .left .content {
    background-color: #fff3f7;
    position: relative;
    border-radius: 6px;
    box-shadow: 0px 0px 5px #D00000;
  }
  .education .left:hover .content {
    background-color: #E5E4E2;
    position: relative;
    border-radius: 6px;
    box-shadow: 0px 0px 5px #0D2C54;
   
  }

  .education .content .tag {
    font-size: 1.4rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    
  }
  .education .content .desc {
    margin-left: 1.2rem;
    padding-bottom: 1rem;
  }
  .education .content .desc h3 {
    font-size: 1rem;
    font-weight: 600;
    color: #136F63;
  }

  .education .content .desc h3 span {
    font-size: 1.6rem;
    font-weight: 600;
    color: #136F63;
  }

  .education .content .desc h2 {
    font-size: 1.4rem;
    font-weight: 600;
    color: #D00000;
  } 
  .education .content .desc p {
    font-size: 1rem;
  }

  @media screen and (max-width: 1200px) {
    .education {
      gap: 1.5rem;
      min-height:100vh;
     
    } 
    .education .timeline {
      margin-top: 2rem;
    }
    .education .timeline::after {
      left: 31px;
    }
    .education .container {
      width: 100%;
      padding-left: 8rem;
      padding-right: 2rem;
    }
    .education .container::after {
      font-size: 2.2rem;
    }
    .education  .container::before {
      left: 61px;
      border: medium solid #f68c09;
      border-width: 10px 10px 10px 0;
      border-color: transparent #f68c09 transparent transparent;
    }
    .education  .left::after {
      left: 15px;
    }
    .education  .right::after {
      left: 15px;
    }
    .education  .right {
      left: 0%;
    }
    .education  {
      margin-top: 0rem;
    }
  }

  
  @media (max-width: 500px) {

    .education {
      gap: 0rem;
      min-height:100vh;
 
    } 
    .education .heading {
      font-size: 2.5rem;
      padding: 3rem;
      color: #0D2C54;
    }
    .education .heading span {
        color: #D00000;
    }
    .education .content .tag {
      font-size: 1.2rem;  
    }
    .education .content .desc {
      margin-left: 1rem;
      padding-bottom: 1rem;
    }
    .education .content .desc h3 {
      font-size: 0.8rem;
      font-weight: 600;   
    }

    .education .content .desc h3 span {
      font-size: 1rem;
      font-weight: 600;
    
    }
  
    .education .content .desc h2 {
      font-size: 1rem;
      font-weight: 600;
     
    } 
    .education .content .desc p {
      font-size: 1rem;
    }
  }

  /*Education Section End*/

  /* Skills Srection Start */

  .skills {
    background: #E5E4E2;
    position: relative;  
    gap: 2rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skills .skills_container .technical .skills_element{
    width :100%;
    padding-right: 2rem;
  
  }
  .skills .skills_container .programming .skills_element{
    width :100%;
    padding-left: 2rem;
  }
  
  /*.skills .skills_container .skills_image img {
    margin: 4rem;
    width: 600px;
    height: auto;
    filter: drop-shadow(0px 0px 10px black);
  }*/

  .skills  .skills_quotes{
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    font-family: "Nunito";
    color: #D00000;
    padding:2rem;

  }
  .skills h2 {
    font-size: 4rem;
    padding: 5rem;
    color: #0D2C54;
  }
  .skills .heading span {
      color: #D00000;
  }
  .technical{
    background-color: #FEFEFA;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }
  .programming{
    background-color: #FEFEFA;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }
  .skills_container {
    row-gap: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }  
  .skills_subtitle {
    margin-bottom: 1rem;
  }  
  .skills_text {
    font-size: 2rem;
    padding: 3rem;
    color: #0D2C54;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    
    
  }  
  .skills_text span{
    color: #D00000;
  }

  .skills_data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: bold;
    padding:1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    height: 3.5rem;
    background-color:#E5E4E2 ;
   
    width:50rem;
  }
  .skill_icon {
    font-size: 2.5rem;
    margin-right: 1rem;
    color:#0D2C54;
  }
  .skills_logo {
   
    color:#0D2C54;
    width: 3rem;
    height: 2.5rem;
    padding-right: 1rem;

  } 
  .skills_name {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-family: "Nunito";
  }
  .skill_bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #0D2C54;
    height: 0.5rem;
    border-radius: 0.5rem;
    z-index: 100;
  } 
  .skill_percentage{
    font-size: 1.5rem;
  }
  
  .skill_html {
    width: 80%;
    background-color: #D00000;
    animation: html 4s ease-in-out forwards;
    
  } 
  .skill_css {
    width: 80%;
    background-color: #0D2C54;
  } 
  .skill_js {
    width: 60%;
    background-color: #D00000;
  }  
  .skill_scss {
    width: 50%;
    background-color: #0D2C54;
  }
  .skill_c {
    width: 80%;
    background-color: #0D2C54;
  }
  .skill_cpp {
    width: 80%;
    background-color: #D00000;
  }
  .skill_java {
    width: 75%;
    background-color: #0D2C54;
  }
  .skill_python {
    width: 100%;
    background-color: #D00000;
    animation: python 0.5s ease-in-out infinite;
  }

  @keyframes html{
    0%{
      width:0%;
    }
    100%{
      width: 80%;
    }
  }

  
@keyframes python{
  0%{
    width:0%;
  }
  100%{
    width: 100%;
  }
}

@media screen and (max-width: 1300px) {

  
  .skills {
    background: #FEFEFA;
    position: relative;  
    gap: 0rem;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
    .skills_container{
      display: flex;
      flex-direction: column;
    }

    .skill_bar {
     width:30rem;
    } 
    .skills_text {
      font-size: 2rem;
      padding: 3rem;
      
    }  

}

  
@media (max-width: 500px) {
  

  
    
  .skills {
    background: #E5E4E2;
    position: relative;  
    gap: 0rem;
  }
  
  .skills_data {
    padding:1rem;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    height: 2.5rem; 
    width:30rem;
  }
  .skills  .skills_quotes{
  
    font-size: 1rem;
 
  }

  .skills h2 {
    font-size: 2.5rem;
    padding: 0rem;
  
  }
  .skills_text {
    font-size: 2rem;
    padding: 2rem;
    
  }  
  .skills_name {
    font-size: 1rem;
  }

  .skill_icon {
    font-size: 2rem;
    margin-right: 1rem;
   
  }

  .skills_logo {
   
   width: 2.3rem;
    height: 1.5rem;
  } 
  .skill_bar {
    height: 0.3rem;
    border-radius: 0.5rem;
    z-index: 100;
  } 
  .skill_html {
    width: 80%;
    background-color: #D00000;
    animation: html 4s ease-in-out forwards;
    
  } 
  .skill_css {
    width: 80%;
    background-color: #0D2C54;
  } 
  .skill_js {
    width: 60%;
    background-color: #D00000;
  }  
  .skill_scss {
    width: 50%;
    background-color: #0D2C54;
  }
  .skill_c {
    width: 80%;
    background-color: #0D2C54;
  }
  .skill_cpp {
    width: 80%;
    background-color: #D00000;
  }
  .skill_java {
    width: 75%;
    background-color: #0D2C54;
  }
  .skill_python {
    width: 100%;
    background-color: #D00000;
    animation: python 0.5s ease-in-out infinite;
  }
  .skill_percentage{
    font-size: 0.8rem;
  }
  .skills .skills_container .technical .skills_element{
    width :100%;
    padding-right: 0rem;
  }
  .skills .skills_container .programming .skills_element{
    width :100%;
    padding-left: 0rem;
  }
  
}

  /*Skills Section End*/

  /*Experience Section Start*/

  .experience{
    gap: 1.5rem;
    min-height:100vh;
    background: #F5F5F5;
   
    
  }

  .experience .heading {
    font-size: 4rem;
    padding: 5rem;
    color: #D00000;
  }
  .experience .heading span {
      color:  #0D2C54;
  }
  .experience .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .experience .box-container .box {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 40rem;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    margin-top: 2rem;
    overflow: hidden;
    transition: 0.3s;
    background: #E5E4E2;
  }
  .experience  .box-container .box:hover {
    transform: scale(1.03);
    box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
  }
  .experience  .box-container .box .image {
    flex: 1 1 20rem;
    width: 100%;
  }
  .experience  .box-container .box img {
    object-fit: cover;
    position: relative;
    width:15rem;
    height:15rem;
  }
  .experience  .box-container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    flex: 1 1 70rem;
  }
  .experience  .box-container .box .content h3 {
    font-size: 2.3rem;
    color: #012970;
    padding: 0.5rem 0;
    font-weight: 600;
    text-align: left;
    margin-left: 1rem;
  }

  .experience  .box-container .box .content h2 {
    font-size: 2rem;
    color: #D00000;
    padding: 0.5rem 0;
    font-weight: 600;
    text-align: left;
    margin-left: 1rem;
  }
  .experience .box-container .box .content p {
    font-size: 1.4rem;
    margin-left: 1rem;
    text-align: left;
  }
  .experience  h4 {
    font-size: 1.1rem;
    color: rgb(34, 109, 0);
    text-align: left;
    margin: 1rem;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
  }

  
@media screen and (max-width: 1250px) {
  .experience  .box-container .box img {
    object-fit: cover;
    position: relative;
    width:10rem;
    height:10rem;
  }
 
  .experience .box-container .box .content p {
    font-size: 1.5rem;
    margin-left: 1rem;
    text-align: left;
  }
  .experience  h4 {

font-size: 1rem;  }

}

@media screen and (max-width: 650px) {
  .experience  .box-container .box img {
    width:5rem;
    height:5rem;
}
}

  @media screen and (max-width: 500px) {
    .experience{
      gap: 1.5rem;
      min-height:80vh;
    
       
    }
    .experience  .box-container{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .experience  .box-container .box img {
      margin:2rem;
      width:5rem;
      height:5rem;
    
    }
    .experience .heading {
      font-size: 2.5rem;
      padding: 3rem;
      color: #D00000;
    }

    .experience .box-container .box {
 
      width: 90%;
      height: 30rem;
    }

    .experience  .box-container .box .content h3 {
       font-size: 1.3rem;
    }
    .experience  .box-container .box .content h2 {
      font-size: 1.1rem;
    }
    .experience .box-container .box .content p {
      font-size: 1rem;
      text-align: left;
    }
    .experience  h4 {
      font-size:0.8rem;
    }
}

   /*Experience Section End*/

   /*Project section Start*/

   .myproject {
    background: #E5E4E2;
    position: relative;  
    gap: 1.5rem;
    min-height: 100vh;
  }
  .myproject h2 {
    font-size: 4rem;
    padding: 7rem;
    color: #0D2C54;
  }
  .myproject .heading span {
    color: #D00000;
  }
  .myproject .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 2rem;
    align-items: center;
    justify-content: center;
  }
  .myproject  .box-container .box {
    flex: 1 1 30rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 2rem#0D2C54;
    position: relative;
    overflow: hidden;
    height: 25rem;
  width: 50%;
  }
  .myproject .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .myproject  .box-container .box .content {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 85%;
    left: 0;
    background: #fff3f7;
    display: flex;
    flex-direction: column;
  }
  .myproject .box-container .box .content .tag {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    padding-left: 1rem;
    background: #E5E4E2;
    box-shadow:  0 0.3rem 0.6rem#0D2C54 ;
    transition: 0.6s;
  }

  .myproject .box-container .box:hover .content .tag {
  
    background: #D00000;
    
  }

  .myproject .box-container .box .content .tag h3 {
    font-size: 2rem;
    color: #D00000;
  }
  .myproject .box-container .box:hover .content .tag h3 {
    font-size: 2rem;
    color:#E5E4E2;
  }

  .myproject .box-container .box:hover .content {
    top: 25%;
  }
  .myproject .desc {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .myproject .desc p {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0D2C54;
  }
  .myproject .desc .btns {
    display: flex;
    justify-content: space-between;
   
    margin-top: 2rem;
  }

  .myproject .desc .btns a{
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
  }
  .myproject .desc .btns .btn {
    width: 10rem;
    height :3rem;
    margin-top: 1rem;
    position: absolute;
    line-height: 0;
    padding: 1.6rem 3rem;
    border-radius: 4em;
    transition: 0.5s;
    color: #E5E4E2;
    background: #032B43;
    box-shadow: 0px 0px 5px #032B43;
    font-family: "Nunito", sans-serif;
    font-size: 1.5rem;
  }
  .myproject .desc .btns .btn:hover {
    background: #E5E4E2;
    color: #032B43;
    box-shadow: none;
    border: 2px solid #032B43;
  }

  @media screen and (max-width: 500px) {
    .myproject h2 {
      font-size: 2.5rem;
      padding: 3rem;
    }

    .myproject  .box-container .box {
      flex: 1 1 1rem;
      height: 25rem;
     width: 60%;
    }

  
    
  
  }

  /*Project section End*/

  /* Contact Section Start */
  .contact {
    background: #FEFEFA;
    position: relative; 
    min-height: 100vh;
    align-items: center;
  }
  .contact h2 {
    font-size: 4rem;
    padding-top: 6rem;
    color: #0D2C54;
  }
  .contact .heading span {
    color: #D00000;
  }
  .contact .content{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mapbox {
    height: auto;
    border-radius: 18px;
    padding-right: 5rem;
    
  }

  .contact .map{
    box-shadow: 2px 2px 10px black;
    
  }
  .contact h3{
    font-size: 2.5rem;
    padding: 1.5rem;;
    color: #0D2C54;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
  }

  .contact h3 span{
    color: #D00000;
    font-family: "Poppins", sans-serif;
  }

  .contact .contact-form {
    width: 40%;
    padding-top: 4rem;
    margin-right: 3.5rem;
  }
  form .form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .form-group .field {
    height: 3rem;
    display: flex;
    position: relative;
    margin: 1rem;
    width: 100%;
  }
  form i {
    position: absolute;
    top: 50%;
    left: 18px;
    color: #0D2C54;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
  }
  form .field input,
  form .message textarea {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 16px 0 48px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    border-radius: 5px;
    border: 1px solid #0D2C54;
    background: #E5E4E2;
  }
  .field input::placeholder,
  .message textarea::placeholder {
    color: #041547;
  }
  .field input:focus,
  .message textarea:focus {
    padding-left: 47px;
    border: 1px solid #D00000;
    background: #fff3f7;
  }
  .field input:focus ~ i,
  .message textarea:focus ~ i {
    color: #D00000;
  }
  form .message {
    position: relative;
    margin: 1rem;
    width: 100%;
  }
  form .message i {
    top: 25px;
    font-size: 20px;
    left: 15px;
  }
  form .message textarea {
    min-height: 130px;
    max-height: 230px;
    max-width: 100%;
    min-width: 100%;
    padding: 12px 20px 0 48px;
  }
  form .message textarea::-webkit-scrollbar {
    width: 0px;
  }
  form .button-area {
    display: flex;
    float: right;
    flex-direction: row-reverse;
  }
  .button-area button {
    position: relative;
    padding: 15px 30px;
    margin: 10px;
    background: #020133;
    color: #E5E4E2;
    text-decoration: none;
    letter-spacing: 1px;
    border: 1px solid #000;
    transition: 0.5s;
    overflow: hidden;
    border-radius: 50px;
    
  }
  .button-area button:hover {
    background: #E5E4E2;
  border: 1px solid #032B43;
  color: #032B43;
  box-shadow: 0px 0px 5px #032B43;
  }

  .button-area button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #fff, transparent);
    transition: 0.5s;
  }
  .button-area button:hover::before {
    left: 100%;
  }
  .button-area button:hover i {
    transform: translateX(5px);
  }
  .button-area span {
    font-size: 1rem;
    padding: 1rem;
    display: none;
  }
  .button-area button i {
    position: relative;
    top: 6px;
    left: 2px;
    font-size: 1rem;
    transition: 0.3s;
    color: #fff;
  }

 
  .button-area button:hover i {
    left: 8px;
    color: #032B43;
  }

  @media (max-width: 1300px) {
  .contact .content{
    display: flex;
    flex-direction: column;
  }
  }

  @media (max-width: 500px) {
    .contact h2 {
      font-size: 2.5rem;
      padding-top: 3rem;
    }
    .contact h3{
      font-size: 2rem;
      padding: 1.5rem;
    }
    .mapbox {
     
      height: auto;
      border-radius: 18px;
      padding-right: 0.1rem;
      
    }
    form i {
      
      font-size: 1rem;
     
    }
    form .message i {
      font-size: 1rem;
    }
    .field input::placeholder,
    .message textarea::placeholder {
      color: #041547;
      font-size: 1rem;
    }
    .contact .contact-form {
      width: 80%;
      padding-top: 0.1rem;
    }
    .button-area button {
      position: relative;
      padding: 5px 10px;
      
    }

  }

  /* Contact Section End*/

 /* footer section starts */
.footer {
  min-height: auto;
  padding-top: 0;
  background: #010B13;
}
.footer .box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .box-container .box {
  flex: 1 1 25rem;
  margin: 2.5rem;
}
.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: #F5F5F5;
  padding-bottom: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
}
.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: #F5F5F5;
  padding-bottom: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: normal;
}
.footer .box-container .box p i {
  padding-right: 1rem;
  color: #D00000;
}
.footer .box-container .box p {
  padding-right: 1rem;
  color: #F5F5F5;
}
.footer .box-container .box a {
  font-size: 1.5rem;
  color: #D00000;
  padding: 0.5rem 0;
  display: flex;
  width: 10rem;
  font-family: "Nunito", sans-serif;
  transition: 0.6s;
}
.footer .box-container .box a:hover {
  color: #F5F5F5;
  border: 0.2rem solid  #D00000;
  font-size: 1.6rem;
}
.footer .box-container .box .share {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.footer .box-container .box .share a {
  height: 4rem;
  width: 4rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5rem;
  font-family: "Nunito", sans-serif;
  font-size: 1.7rem;
  margin-right: 1rem;
  transition: 0.2s;
  background: #E5E4E2;
  color: #13010B;
  border: 0.1rem solid #F5F5F5;
 
}
.footer .box-container .box .share a:hover {
  background: #fff3f7;
  transform: scale(0.98);
  border: 0.1rem solid #D00000;
  color: #D00000;
}

.footer .box-container .infobox{
  display: flex;
  flex-direction: row;
}

.footer .credit {
  padding: 1rem 0 0 0;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #F5F5F5;
  border-top: 0.1rem solid #fff3;
}
.footer .credit a {
  color: #D00000;
}
.footer .fa {
  color: #F5F5F5;
  
  font-size: 1.5rem;
  animation: pound 0.35s infinite alternate;
}

@media (max-width: 500px) {
  .footer .box-container .box h3 {
    font-size: 1.5rem;
  }
  .footer .box-container .box h3 {
    font-size: 1.1rem;
  }
    .footer .box-container .box a {
      font-size: 1.1rem;
    }
    .footer .credit {
     
      font-size: 1rem;
    
    }
}

/* scroll top starts */
#scroll-top {
  position: fixed;
  top: -140%;
  right: 2rem;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  background:#032B43;
  color: #D00000;
  border-radius: 50%;
  transition: 1s linear;
  z-index: 1000;
}
#scroll-top.active {
  top: calc(100% - 12rem);
}
/* scroll top ends */



